*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

 }
body{
    height: 100vh;
    width: 100vw; 
}

header{
    background-color: rgb(43, 133, 175);
    padding: 10vh;
}

.menu-header{
    color: beige;
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    
    
}

.menu-header li a{
color: #dae7e9;
text-decoration: none;
font-size: 13px;
}

.menu-header li a:hover{
    color: #bf0a0d;
    transition: 0.8s;
}

.menu-header li{
    margin-left: 30px;
    
}

#sessao{
    padding: 30vh;
    background: linear-gradient(180deg, #dae7e9 8.33%, #1ab6e6);
    flex-wrap: wrap;
}

#sessao h1{
    font-size: 2.5em;
    color: rgb(2, 2, 21);
}

#sessao p{
    font-size: 2.3em;
    margin: 20px 0;
}

#sessao button{
    padding: 20px;
    border-radius: 50px;
    width: 20em;
    color: rgb(30, 168, 210);
    border-color: rgb(102, 209, 228);
    margin: 30px;
    font-size: 15px;
    cursor: pointer;

}

#sessao button a{
    text-decoration: none;
    color: rgb(193, 192, 212);
}

#sessao button:hover{
    background-color: #9d0000;
    color: rgb(82, 114, 202);
    border-color: rgb(238, 241, 241);
    transition: 0.7s;
}


#app{
    padding: 15rem;
    background-color: rgb(248, 252, 251);
    display: flex;
    justify-content: space-around;
    
}

#app div button{
    padding: 20px;
    border-radius: 50px;
    width: 20vw;
    color: rgb(43, 231, 231);
    border-color: rgb(235, 12, 205);
    margin: 30px;
    font-size: 15px;
    cursor: pointer;

}

#app button a{
    text-decoration: none;
    color: rgb(20, 212, 171);
}

#app div p{
    font-size: 2.8em;
    margin-bottom: 20px;
}

#app div button:hover{
    background-color: rgb(189, 62, 140);
    color: blue;
    border-color: darkgoldenrod;
    transition: 0.5s;
}

#app div img{
    width: 25rem;
    height: 25rem;
    margin-left: 70px;
    margin-top: -70px;
}

#container{
    padding: 30vh;
    background-color: rgb(244, 244, 252);
    flex-wrap: wrap;
}

#container h2{
    font-size: 40px;
    margin-top: -20rem;
    color: rgb(5, 5, 5);
    text-align: center;
    margin-bottom: 2rem;

}

#container p{
    font-size: 20px;
    margin-top: 30px;
    color: rgb(34, 36, 38);
    text-align: justify;
}

#container .text1{
    text-align: center;
    
}

#container button{
    padding: 10px;
    border-radius: 50px;
    width: 10vw;
    color: rgb(48, 41, 45);
    border-color: black;
    margin: 60px;
    font-size: 15px;
}

#container button:hover{
    background-color: rgb(9, 28, 197);
    color: rgb(12, 228, 48);
    border-color: #9d0000;
    transition: 0.7s;
    cursor: pointer;
}

.line{
    margin: 40 auto;
    width: 70%;
}

#container img{
    margin-left: 10vw;
    margin-top: 30px;
    width: 50vw;
}

#container-cofre{
    background: linear-gradient(180deg, #0c2ce4 8.33%, rgba(5, 39, 101, 0.745)100%),url(imagens/img\ cofre\ fundo.jpg);

    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15rem;
} 

#container-cofre img{
    width: 25rem;
    height: auto;
    margin-top: 10rem;
}

#container-cofre h2{
    color: #faf9f9;
    font-size: 25px;
    text-align: center;
}

#container-cofre p{
    color: aliceblue;
    font-size: 17px;
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
}

footer{
    padding: 3rem;
    background-color: #504e4e;
    text-align: center;
    color: #dae7e9;
}



footer div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #dae7e9;


}

footer div a{
    text-decoration: none;
    color: beige;
    

    
}

footer div a:hover{
    transition: 0,8s;
    color: #0c2ce4;
}

.footer-div p{
    color: rgb(229, 240, 240);
    padding: 50px;

    

    
}


@media screen and(max-width:480px) {
    
}

@media screen and(max-width:767px) {

}

@media screen and(max-width:1920px) {

}

@media screen and(max-width:1366px) {

}

@media screen and(max-width:991px )  {                                                                                            




 #sessao div a button{
        width: 14rem;
        padding: 0.9rem;
 }




 #sessao a button {
    width: 14rem;
    padding: 0.9rem;

   
}

#sessao p{
    font-size: 1.5rem;
    margin: 15px 0;
}


#app{
padding: 30vh;

}

#app div p{
    font-size: 1.8rem;
}

#app div img{
width: 18rem;
height: auto;
margin-right: 20px;

}

#container{
    padding: 35vh;
}

#container h2{ 
    margin-top: 1rem;
}

#container a button{
    width: 14rem;
    padding: 0.9rem;
    margin-left: 12rem;
    
}



}









