*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    background-color: black;
    padding: 10vh;
}

.menu-header{
    color: rgb(16, 197, 91);
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    
    
}

.menu-header li a{
color: brown;
text-decoration: none;
font-size: 13px;
}

.menu-header li a:hover{
    color: aqua;
    transition: 0.8s;
}

.menu-header li{
    margin-left: 30px;
    
}

#sessao{
    padding: 30vh;
    background: linear-gradient(180deg, #9d0000);
    flex-wrap: wrap;
}

#sessao h1{
    font-size: 42px;
    color: rgb(2, 2, 21);
}

#sessao p{
    font-size: 40px;
}

#sessao button{
    padding: 20px;
    border-radius: 50px;
    width: 20vw;
    color: chocolate;
    border-color: blueviolet;
    margin: 30px;
    font-size: 15px;

}

#sessao button:hover{
    background-color: #9d0000;
    color: blue;
    border-color: aqua;
    transition: 0.5s;
}


#app{
    padding: 30vh;
    background-color: rgb(32, 213, 192);
    display: flex;
    justify-content: space-around;
}

#app div button{
    padding: 20px;
    border-radius: 50px;
    width: 20vw;
    color: rgb(190, 13, 161);
    border-color: chartreuse;
    margin: 30px;
    font-size: 15px;

}

#app div p{
    font-size: 43px;
}

#app div button:hover{
    background-color: darkgray;
    color: blue;
    border-color: darkgoldenrod;
    transition: 0.5s;
}

#app div img{
    width: 30vw;
    height: 60vh;
    margin-left: 50px;
    margin-top: 70px;
}

#container{
    padding: 30vh;
    background-color: blue;
    flex-wrap: wrap;
}

#container h2{
    font-size: 40px;
    margin-top: 20rem;
    color: darkslategrey;
    text-align: center;

}

#container p{
    font-size: 20px;
    margin-top: 30px;
    color: black;
    text-align: justify;
}

#container .text1{
    text-align: center;
}

#container button{
    padding: 20px;
    border-radius: 50px;
    width: 15vw;
    color: blueviolet;
    border-color: black;
    margin: 60px;
    font-size: 15px;
}

#container button:hover{
    background-color: darkgoldenrod;
    color: darkslategrey;
    border-color: #9d0000;
    transition: 0.7s;
    cursor: pointer;
}

#line{
    margin: 0 auto;
    width: 70%;
}

#container img{
    margin-left: 10vw;
    margin-top: 30px;
    width: 50vw;
}






